<a href="https://colab.research.google.com/github/Yonn12345678/Introduction-to-Computers/blob/main/0606.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
i = 0
result = 0
while i <= 50:
  if i % 2  != 0:
      result += i
  i += 1
print('0-50的奇數和結果是%d' % result)

0-50的奇數和結果是625

In [ ]:
i = 0
result = 0
while i <= 50 :
  if i % 2  == 0:
      result += i
  i += 1
print('0-50的奇數和結果是%d' % result)

0-50的奇數和結果是650

In [ ]:
n = int(input('請輸入正整數：'))
for i in range(1,n+1):
  for j in range(i,n+1):
    print('*', end='')
  print()

請輸入正整數：10
**********
*********
********
*******
******
*****
****
***
**
*

In [ ]:
sum = 0
for i in range(0,101):
  if (i % 3 == 0 or i % 7 == 0):
    sum += i
print('數值 1-100 中 , 所有是 3 或 7 倍數的數之總和 ＝' ,sum)

數值 1-100 中 , 所有是 3 或 7 倍數的數之總和 ＝ 2208

In [ ]:
p = 1
coumter = 0
n = int(input('請輸入正整數：'))
print(n,'的因數有',end=' ')
while(p <= n):
  if(n % p == 0):
    print(p,end=' ')
    counter +=1
  p +=1
print()
if(counter==2):
  print(n,'是質數')
else:
  print(n,'不是質數')

請輸入正整數：12
12 的因數有 1

NameError: ignored

In [ ]:
list1 = [1,2,3,4,5]

In [ ]:
list1

[1, 2, 3, 4, 5]

In [ ]:
list2 = ['香蕉','蘋果','橘子']

list2

['香蕉', '蘋果', '橘子']

In [ ]:
list3 = [1 ,'香蕉' ,True]

list3

[1, '香蕉', True]

In [ ]:
print(list1[0])
print(list1[1])
print(list1[2])
print(list1[3])
print(list1[4])

1
2
3
4
5

In [ ]:
list4 = ['香蕉','蘋果','橘子']

print(list4[0])
print(list4[1])
print(list4[2])
print(list4[3])

香蕉
蘋果
橘子

IndexError: ignored

In [ ]:
print(list4[-1])
print(list4[-2])
print(list4[-3])
print(list4[-4])

橘子
蘋果
香蕉

IndexError: ignored

In [ ]:
list5 = [['tom','1234']] ,['mary','abcd'],['david','5678']

print(list5[1])
print(list5[0])
print(list5[1][1])
print(list5[0][0])

['mary', 'abcd']
[['tom', '1234']]
abcd
['tom', '1234']

In [ ]:
list6 = ['國文成績：85分' , '數學成績：79分' , '英文成績：93分']

print(list6[0])
print(list6[1])
print(list6[2])

print( )
score = [85,79,93]
print('國文成績：%d分' % score[0])
print('數學成績：%d分' % score[1])
print('英文成績：%d分' % score[2])

國文成績：85分
數學成績：79分
英文成績：93分

國文成績：85分
數學成績：79分
英文成績：93分

In [ ]:
list7 =[1,2,3,4,5] 
print(list7[0])

list7[0] = 9
print(list7[0])
print(list7)

1
9
[9, 2, 3, 4, 5]

In [ ]:
list8 = ['香蕉','蘋果','橘子']
for s in list8:
  print(s, end=',')

香蕉,蘋果,橘子,

In [ ]:
items =['123','apple','True']
for item in items:
  print(item)

123
apple
True

In [ ]:
scores=[85,79,93]
print(len(scores))

3

In [ ]:
grade = ['國文成績：85分','數學成績：79分', '英文成績：93分']
for i in grade:
  print(i)

國文成績：85分
數學成績：79分
英文成績：93分

In [31]:
list10 = ['編號:1 姓名:Tom', '編號:2 姓名:Mary', '編號:3 姓名:Tony']

for i in list10:
  print(i)

編號:1 姓名:Tom
編號:2 姓名:Mary
編號:3 姓名:Tony